h1
{
    font-size: 60px;
    text-align: center;
}
input
{
    display: block;
    margin: 0 auto;
    height: 3em;
    text-align: center;
}
input:invalid{
    background-color: brown;
    border:  crimson ;
}
span{
    height: 45px;
    text-align: center;
}
button{
    display: block;
    margin: 50px auto;
    
}
h2{
    text-align: center;
}
span{
    margin: 20px -330px 76px 345px;
}
.container{
    text-align: center;
}
